$hackertext-green: #20C20E;
$white: #ffffff;
$grey: #aaaaaa;

body {
  background-color: black;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  color: $hackertext-green;
}
#header-text-row {
  text-align: center;
}
#header-text {
  width: 100%;
}
#inverted-logo {
  display: block;
  margin: 0 auto;
  height: 30rem;
  margin-bottom: 4rem;
}
#slack-logo {
  display: block;
  margin: 0 auto;
  height: 10rem;
  margin-bottom: 4rem;
}
.slack-btn {
  color: $hackertext-green;
  border: 1px solid $hackertext-green;
  font-family: 'Share Tech Mono', monospace;
  font-size: 2rem !important;
  line-height: 2rem;
  margin: 0 2rem;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border-radius: 5px;
  padding: 1rem 2rem;
  &:hover {
    color: $grey;
    border: 1px solid $grey;
  }
}
#challenges-header-text {
  margin-top: 8rem;
}
#challenges-table {
  table {
    width: 100%;
  }
  td, th {
    text-align: center;
  }
}
