$hackertext-green: #20C20E;
$white: #ffffff;
$grey: #aaaaaa;

body {
  background-color: black;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  color: $hackertext-green;
}
#header-text-row {
  text-align: center;
}
#header-text {
  width: 100%;
}
#inverted-logo {
  display: block;
  margin: 0 auto;
  height: 30rem;
  margin-bottom: 4rem;
}
#slack-logo {
  display: block;
  margin: 0 auto;
  height: 10rem;
  margin-bottom: 4rem;
}
.slack-btn {
  color: $hackertext-green;
  border: 1px solid $hackertext-green;
  font-family: 'Share Tech Mono', monospace;
  font-size: 2rem !important;
  line-height: 2rem;
  margin: 0 2rem;
  background: #000 url('img/slack_logo.png') no-repeat;
  background-position: center;
  background-size: 80%;
  min-width: 200px;
  min-height: 65px;
  padding: 4rem;
  &:hover {
    color: $grey;
    border: 1px solid $grey;
  }
}
#challenges-header-text {
  margin-top: 8rem;
}
#challenges-table {
  table {
    width: 100%;
  }
  td, th {
    text-align: center;
  }
}
